<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Ice Baby</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/menu.css">
    <style></style>
    <script type="text/javascript" src="/src/script/menu.js"></script>
    <script type="text/javascript" src="/src/script/send.js"></script>
    <link rel="icon" href="/src/assets/img/favicon.png"/>
    <link rel="apple-touch-icon" href="/src/assets/img/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div id="logo">
                <img src="/src/assets/img/Ice_Ice_Baby_Logo.png" alt="logo" height="50">
            </div>
            <div class="name">Ice Ice Baby</div><!--requirement: 큰화면일때만 표시-->
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item" id="main">
                      <a class="nav-link" href="/src/templates/index.html">Main</a>
                    </li>
                    <li class="nav-item" id="menu">
                      <a class="nav-link active" aria-current="page" href="/src/templates/menu.html">Menu</a>
                    </li>
                  </ul>
            </nav>
        </header>

        <main>
            <!--메뉴 선택 표시-->
            <div class="row row-cols-1 row-cols-lg-2 menucards">
                <!--세트메뉴 표시-->
                <div class="col combocards">
                    <div class="category">Combo Menu</div>
                    <div class="row row-cols-2">
                        <!--baby ice 표시 칸-->
                        <div class="col"><div class="card combocard">
                            <h5 class="card-header">Baby Ice</h5>
                            <div class="card-body">
                                <div class="card-title combocard-title">
                                    <h6>1 Ice cream</h6>
                                    <h6>1 Topping</h6>
                                </div>
                                <p class="card-text combocard-text">¥10</p>
                                <!--메뉴 추가 칸(babyIceAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" aria-controls="offcanvasBabyIce" id="addBI">
                                    +
                                </a>
                                </div>
                        </div></div>
                        <!--ice ice baby 표시 칸-->
                        <div class="col"><div class="card combocard">
                            <h5 class="card-header">Ice Ice Baby</h5>
                            <div class="card-body">
                                <div class="card-title combocard-title">
                                    <h6>2 Ice cream</h6>
                                    <h6>2 Toppings</h6>
                                </div>
                                <p class="card-text combocard-text">¥20</p>
                                <!--메뉴 추가 칸(iceIceBabyAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" aria-controls="offcanvasIceIceBaby" id="addIIB">
                                    +
                                </a>
                            </div>
                        </div></div>
                        <!--ice waffle baby 표시 칸-->
                        <div class="col"><div class="card combocard">
                            <h5 class="card-header">Ice Waffle Baby</h5>
                            <div class="card-body">
                                <div class="card-title combocard-title">
                                    <h6>2 Ice cream</h6>
                                    <h6>2 Toppings</h6>
                                    <h6>Waffle</h6>
                                </div>
                                <p class="card-text combocard-text">¥32</p>
                                <!--메뉴 추가 칸(iceWaffleBabyAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" id="addIWB" aria-controls="offcanvasIceWaffleBaby">
                                    +
                                </a>
                            </div>
                        </div></div>
                        <!--ice affogato baby 표시 칸-->
                        <div class="col"><div class="card combocard">
                            <h5 class="card-header">Ice Affogato Baby</h5>
                            <div class="card-body">
                                <div class="card-title combocard-title">
                                    <h6>1 Ice cream</h6>
                                    <h6>2 Toppings</h6>
                                    <h6>Coffee</h6>
                                </div>
                                <p class="card-text combocard-text">¥18</p>
                                <!--메뉴 추가 칸(iceAffogatoBabyAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" id="addIAB" aria-controls="offcanvasIceAffogatoBaby">
                                    +
                                </a>
                            </div>
                        </div></div>
                        <!--big ice baby 표시 칸-->
                        <div class="col"><div class="card combocard">
                            <h5 class="card-header">Big Ice Baby</h5>
                            <div class="card-body">
                                <div class="card-title combocard-title">
                                    <h6>3 Ice cream</h6>
                                    <h6>3 Toppings</h6>
                                </div>
                                <p class="card-text combocard-text">¥30</p>
                                <!--메뉴 추가 칸(bigIceBabyAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" aria-controls="offcanvasIceIceBaby" id="addBIB">
                                    +
                                </a>
                            </div>
                        </div></div>
                    </div>
                </div>
                <!--추가 메뉴 표시-->
                <div class="col alacards">
                    <div class="category">Ala Carte</div>
                    <div class="row row-cols-2">
                        <!--아이스크림 표시 칸-->
                        <div class="col"><div class="card alacard">
                            <div class="card-body">
                                <div class="card-title alacard-title">
                                    <h6>Extra Ice Cream</h6>
                                </div>
                                <p class="card-text alacard-text">¥9</p>
                                <!--메뉴 추가 칸(iceAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" aria-controls="offcanvasIce" id="addEI">
                                    +
                                </a>
                            </div>
                        </div></div>
                        <!--커피 표시 칸-->
                        <div class="col"><div class="card alacard">
                            <div class="card-body">
                                <div class="card-title alacard-title">
                                    <h6>Coffee</h6>
                                </div>
                                <p class="card-text alacard-text">¥8</p>
                                <!--메뉴 추가 칸(coffeeAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" aria-controls="offcanvasCoffee" id="addC">
                                    +
                                </a>
                            </div>
                        </div></div>
                        <!--물 표시 칸-->
                        <div class="col"><div class="card alacard">
                            <div class="card-body">
                                <div class="card-title alacard-title">
                                    <h6>Water</h6>
                                </div>
                                <p class="card-text alacard-text">¥2</p>
                                <!--메뉴 추가 칸(waterAdd)으로-->
                                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#Add" role="button" aria-controls="offcanvasWater" id="addW">
                                    +
                                </a>
                            </div>
                        </div></div>
                    </div>
                </div>
            </div>

            <!--메뉴 추가 표시-->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="Add" aria-labelledby="Label">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="Label">Name</h5>
                  <h6 class="offcanvas-price">¥<span id="Price"></span></h6>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="canvas_close"></button>
                </div>
                <div class="offcanvas-body">
                    <!--기본 메뉴-->
                    <form class="was-validated">
                        <div class="combomain" id="combomain"><!--baby ice, ice ice baby, ice waffle baby, ice affogato baby, big ice baby-->
                            <div class="flavor" id="flavor">
                                <h6><span id="icecream-num"></span> Ice cream</h6>
                                <div class="input-group mb-3" id="icecream-1"><!--baby ice, ice ice baby, ice waffle baby, ice affogato baby, big ice baby-->
                                    <label class="input-group-text" for="flavor1">Flavor1</label>
                                    <select class="form-select" id="flavor1" required>
                                        <option selected disabled value="">Choose..</option>
                                        <option value="1">Vanilla</option>
                                        <option value="2">Chocolate</option>
                                        <option value="3">Strawberry</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3" id="icecream-2"><!--ice ice baby, ice waffle baby, big ice baby-->
                                    <label class="input-group-text" for="flavor2">Flavor2</label>
                                    <select class="form-select" id="flavor2" required>
                                        <option selected disabled value="">Choose..</option>
                                        <option value="1">Vanilla</option>
                                        <option value="2">Chocolate</option>
                                        <option value="3">Strawberry</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3" id="icecream-3"><!--big ice baby-->
                                    <label class="input-group-text" for="flavor3">Flavor3</label>
                                    <select class="form-select" id="flavor3" required>
                                        <option selected disabled value="">Choose..</option>
                                        <option value="1">Vanilla</option>
                                        <option value="2">Chocolate</option>
                                        <option value="3">Strawberry</option>
                                    </select>
                                </div>
                            </div>
                            <div class="topping" id="topping">
                                <h6><span id="topping-num"></span> Toppings</h6>
                                <div class="input-group mb-3" id="topping-1"><!--baby ice, ice ice baby, ice waffle baby, ice affogato baby, big ice baby-->
                                    <label class="input-group-text" for="topping1">Type1</label>
                                    <select class="form-select" id="topping1" required>
                                        <option selected disabled value="">Choose..</option>
                                        <option value="1">Oreos</option>
                                        <option value="2">Sprinkle</option>
                                        <option value="3">Fudge Syrup</option>
                                        <option value="4">Caramel Syrup</option>
                                        <option value="5">Waffle Bit</option>
                                        <option value="6">Waffle Cone</option>
                                        <option value="7">Whipped Topping</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3" id="topping-2"><!--ice ice baby, ice waffle baby, ice affogato baby, big ice baby-->
                                    <label class="input-group-text" for="topping2">Type2</label>
                                    <select class="form-select" id="topping2" required>
                                        <option selected disabled value="">Choose..</option>
                                        <option value="1">Oreos</option>
                                        <option value="2">Sprinkle</option>
                                        <option value="3">Fudge Syrup</option>
                                        <option value="4">Caramel Syrup</option>
                                        <option value="5">Waffle Bit</option>
                                        <option value="6">Waffle Cone</option>
                                        <option value="7">Whipped Topping</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3" id="topping-3"><!--big ice baby-->
                                    <label class="input-group-text" for="topping3">Type3</label>
                                    <select class="form-select" id="topping3" required>
                                        <option selected disabled value="">Choose..</option>
                                        <option value="1">Oreos</option>
                                        <option value="2">Sprinkle</option>
                                        <option value="3">Fudge Syrup</option>
                                        <option value="4">Caramel Syrup</option>
                                        <option value="5">Waffle Bit</option>
                                        <option value="6">Waffle Cone</option>
                                        <option value="7">Whipped Topping</option>
                                    </select>
                                </div>
                            </div>
                            <div class="waffle" id="waffle"><!--ice waffle baby-->
                                <h6>Waffle</h6>
                            </div>
                            <div class="coffee" id="coffee"><!--ice affogato baby-->
                                <h6>Coffee</h6>
                            </div>
                        </div>

                        <div class="alaice" id="alaice"><!--extra ice cream-->
                            <div class="input-group mb-3 alaice1">
                                <label class="input-group-text" for="iceflavor1-1">Vanilla</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="iceflavor1-1">
                            </div>
                            <div class="input-group mb-3 alaice2">
                                <label class="input-group-text" for="iceflavor1-2">Chocolate</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="iceflavor1-2">
                            </div>
                            <div class="input-group mb-3 alaice3">
                                <label class="input-group-text" for="iceflavor1-3">Strawberry</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="iceflavor1-3">
                            </div>
                        </div>
    
                        <div class="alatop" id="alatop"><!--extra topping-->
                            <div class="input-group mb-3 alatopping1">
                                <label class="input-group-text" for="toptopping1-1">Oreos</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-1">
                            </div>
                            <div class="input-group mb-3 alatopping2">
                                <label class="input-group-text" for="toptopping1-2">Sprinkle</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-2">
                            </div>
                            <div class="input-group mb-3 alatopping3">
                                <label class="input-group-text" for="toptopping1-3">Fudge Syrup</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-3">
                            </div>
                            <div class="input-group mb-3 alatopping4">
                                <label class="input-group-text" for="toptopping1-4">Caramel Syrup</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-4">
                            </div>
                            <div class="input-group mb-3 alatopping5">
                                <label class="input-group-text" for="toptopping1-5">Waffle Bit</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-5">
                            </div>
                            <div class="input-group mb-3 alatopping6">
                                <label class="input-group-text" for="toptopping1-6">Waffle Cone</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-6">
                            </div>
                            <div class="input-group mb-3 alatopping7">
                                <label class="input-group-text" for="toptopping1-7">Whipped Topping</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="toptopping1-7">
                            </div>
                        </div>
    
                        <div class="alacoffee" id="alacoffee"><!--coffee-->
                            <div class="input-group mb-3 alacoffee1">
                                <label class="input-group-text" for="coffee1-1">Hot Coffee</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="coffee1-1">
                            </div>
                            <div class="input-group mb-3 alacoffee2">
                                <label class="input-group-text" for="coffee1-2">Iced Coffee</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="coffee1-2">
                            </div>
                        </div>
    
                        <div class="alawater" id="alawater"><!--water-->
                            <div class="input-group mb-3 alawater1">
                                <label class="input-group-text" for="water1">Quantity</label>
                                <input type="number" class="form-control" min="0" step="1" value="0" id="water1">
                            </div>
                        </div>
    
                        <!--추가 메뉴-->
                        <div class="comboala" id="combala"><!--baby ice, ice ice baby, ice waffle baby, ice affogato baby, big ice baby, extra ice cream-->
                            <h6>Ala Carte</h6>
                            <div class="accordion" id="accordionice"><!--baby ice, ice ice baby, ice waffle baby, ice affogato baby, big ice baby-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseice" aria-expanded="false" aria-controls="collapseice">
                                            <span id="alaicecollaspe">Extra Ice Cream</span>
                                        </button>
                                    </h2>
                                    <div id="collapseice" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="alaice">
                                            <div class="input-group mb-3 alaice1">
                                                <label class="input-group-text" for="flavor1-1">Vanilla</label>
                                                <input type="number" class="form-control" min="0" step="1" value="0" id="flavor1-1" >
                                            </div>
                                            <div class="input-group mb-3 alaice2">
                                                <label class="input-group-text" for="flavor1-2">Chocolate</label>
                                                <input type="number" class="form-control" min="0" step="1" value="0" id="flavor1-2">
                                            </div>
                                            <div class="input-group mb-3 alaice3">
                                                <label class="input-group-text" for="flavor1-3">Strawberry</label>
                                                <input type="number" class="form-control" min="0" step="1" value="0" id="flavor1-3">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="accordion" id="accordiontop"><!--baby ice, ice ice baby, ice waffle baby, ice affogato baby, big ice baby, extra ice cream-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetop" aria-expanded="false" aria-controls="collapsetop">
                                            <span id="alatopcollaspe">Extra Topping</span>
                                        </button>
                                    </h2>
                                    <div id="collapsetop" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="alatop">
                                                <div class="input-group mb-3 alatopping1">
                                                    <label class="input-group-text" for="topping1-1">Oreos</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-1">
                                                </div>
                                                <div class="input-group mb-3 alatopping2">
                                                    <label class="input-group-text" for="topping1-2">Sprinkle</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-2">
                                                </div>
                                                <div class="input-group mb-3 alatopping3">
                                                    <label class="input-group-text" for="topping1-3">Fudge Syrup</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-3">
                                                </div>
                                                <div class="input-group mb-3 alatopping4">
                                                    <label class="input-group-text" for="topping1-4">Caramel Syrup</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-4">
                                                </div>
                                                <div class="input-group mb-3 alatopping5">
                                                    <label class="input-group-text" for="topping1-5">Waffle Bit</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-5">
                                                </div>
                                                <div class="input-group mb-3 alatopping6">
                                                    <label class="input-group-text" for="topping1-6">Waffle Cone</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-6">
                                                </div>
                                                <div class="input-group mb-3 alatopping7">
                                                    <label class="input-group-text" for="topping1-7">Whipped Topping</label>
                                                    <input type="number" class="form-control" min="0" step="1" value="0" id="topping1-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--requirement: 클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
                        <button class="btn btn-info addcart" type="submit" id="button">Add to Cart</button>
                    </form>
                </div>
            </div>
        </main>

        <div id="floating-button">
            <!--언어 설정 버튼--><!--requirement: 언어 변경, active 변경-->
            <div class="btn-group" id="langButton">
                <a href="#" class="btn btn-secondary btn-sm active" aria-current="page">A</a>
                <a href="#" class="btn btn-secondary btn-sm">한</a>
                <a href="#" class="btn btn-secondary btn-sm">中</a>
            </div>
            <!--카트 확인 버튼-->
            <div id="cartButton">
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#cartModal" id="cart_button">
                    Cart
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="numAdded">
                    0<!--requirement: 주문 수량 표시-->
                <span class="visually-hidden">products in the cart</span>
                </span></button>
            </div>
        </div>

        <div id="cart">
            <div class="modal fade cartModal" id="cartModal" tabindex="-1" aria-labelledby="cartModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="cartModalLabel">Cart</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!--requirement: 클릭시 주문 취소-->
                        </div>
                        <div class="modal-body" id="cartcards">
                        </div>
                        <div class="modal-footer">
                            <p class="modal-total">Total: </p>
                            <p class="modal-totalPrice">¥<span id="totalPrice">0</span></p><!--total price--><!--requirement: 전체 가격 표시-->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger" data-bs-target="#purchaseModal" data-bs-toggle="modal" id="purchase_button">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade purchaseModal" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModal" aria-hidden="true"><!--requirement: 계산 정보-->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Purchase</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="modal-final">Total: </p>
                            <p class="modal-finalPrice">¥<span id="finalPrice">0</span></p>
                            <img src="/src/assets/img/Ice_Ice_Baby_QR.png" alt="QR code" id="QRimg">
                        </div>
                        <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-target="#cartModal" data-bs-toggle="modal">Back to Cart</button>
                        <button class="btn btn-danger" data-bs-target="#confirmModal" data-bs-toggle="modal" id="confirm_button">Confirm</button><!--requirement: 클릭시 뒷자리 입력 요구-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade confirmModal" id="confirmModal"  data-bs-backdrop="static" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true"><!--requirement: 계산 정보-->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="row descriptionRow">
                        <div class="col col-6"><div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <p class="modal-id">ID: </p>
                                <p class="modal-idNum"><span id="modal_id"></span></p>
                            </div>
                        </div></div>
                        <div class="col col-6"><img src="/src/assets/img/Ice_Ice_Baby_Logo.png" id="id_logo"></div>
                        <div class="col col-12"><div id="description">
                            <p>1. Take a picture of this screen</p>
                            <p>2. Check the screen in front.</p>
                            <p>3. Show the picture and pick it up.</p>
                        </div></col>
                    </div>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
